* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;

    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
    background-image: radial-gradient(#4ce6e6, #be6e122c);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        margin: auto;
        height: 100%;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .card-img {
                position: absolute;
                top: 15%;
                transform: translateY(-50%);
                transform: translateX(50%);
                width: 50%;

                & img {
                    width: 50%;
                    transform: rotate(-15deg);
                }
            }

            & .content {
                position: absolute;
                right: 300px;
                top: 4%;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .card-information {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 6em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .description {
                    color: #fffefe;
                    font-size: 14px;
                    text-align: right;
                    max-width: 400px;
                    
                    

                }

                & .information {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #0d8070;
                    background-color: #0d819e;
                    color: #000;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;
                }
            }

        }

        &::before {
            content: "";
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;

        }

    }

    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        transform: translate(-50%, -25px);

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 2px;
                cursor: pointer;

            }

            &:hover {
                background-color: #0d819e;

            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        height: 200px;
        left: 50%;
        width: 90vw;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #0d819e;
                border-radius: 5px;
                transition: 0.5s;

            }

            & .active {
                background-color: #fff;
            }
        }
    }
}

section {
    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .card-img {
                & .img {
                    transform: rotate(0);
                    transition: 0.5;
                    transition-delay: 0.3s;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background-color: #000;
                    width: 60%;
                    height: 100px;
                    top: 150%;
                    left: 40px;
                    border: 50%;
                    filter: blur(50px);
                }
            }

            & .content {

                & .card-information,
                h2,
                .description,
                .information {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9;
                }

            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .content {

                & .card-information,
                h2,
                .description,
                .information {
                    transform: translateX(0);
                    opacity: 1;

                }
            }

            & .card-img {
                & .img {
                    transform: rotate(-20deg);

                }
            }

        }
    }
}