* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: #fff;
    font-size: 16px;
    
}

header {
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;


    & img {
        width: 250px;
    }

    & nav {
        & ul {
            & .mod {
                color: #fff;

            }

            display: grid;
            grid-template-columns: repeat(4, 140px);
            cursor: pointer;


        }
    }
}

section {
    background-image: radial-gradient(#4ce6e6, #be6e122c);
    height: 100%;
    position: relative;
    & .list{
        width: 70vw;
        margin: auto;
        height: 100%;
        position: relative;

        & .item{
            position: absolute;
            inset: 0;

            & .card-img{
                position: absolute;
                top: 15%;
                transform: translateY(-50%);
                transform: translateX(50%);
            }

            & .description{
                position: absolute;
                right: 300px;
                top: 4%;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;
            }
        }
    }
    
}
